name = "tenant_system"
compatibility_date = "2024-08-30"
main = "server/index.ts"
assets = { directory = "./frontend/dist", binding = "ASSETS", html_handling = "auto-trailing-slash", not_found_handling = "single-page-application" }

vars = { JWT_SECRET = "secret", GOOGLE_MAPS_API_KEY = <GOOGLE_MAPS_API_KEY>, ENVIRONMENT = "dev" }

[env.production]
vars = { JWT_SECRET = "secret", GOOGLE_MAPS_API_KEY = <GOOGLE_MAPS_API_KEY>, ENVIRONMENT = "production" }
routes = [
  { pattern = <"DOMAIN_NAME">, zone_name = <"ZONE_NAME">,  custom_domain = true }
]

[observability]
enabled = true

[[r2_buckets]]
binding = "R2"
bucket_name = "<R2_NAMESPACE>"
preview_bucket_name = "<PREVIEW_R2_NAMESPACE>"

[[d1_databases]]
binding = "DB"
database_name = "<D1_NAMESPACE>"
database_id = "<D1_ID>"
migrations_dir = "drizzle"

[dev]
port = 3000
local_protocol = "http"

[build]
command = "bun run build"
cwd = "./frontend"